@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

@font-face {
    font-family: 'Montserrat';
    src:
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.842);
}

[class*="__container"] {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;

}

.header__image {
    margin: 0px 0px 35px 0px;
}

[class*="__title"] {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
}

.header__title {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

.header__list {
    text-align: center;
}

.header__item {
    display: inline-block;
    margin: 0px 60px 50px 0px;
}

[class*="__link"] {
    font-family: 'Redressed', cursive;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    color: royalblue;
}

[class*="__text"] {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.712);
    padding: 20px;
}

[class*="__section"] {
    margin: 0px 10px 50px 10px;
    padding: 5px 10px 15px 20px;
}

.main__section01 {
    text-align: right;
    margin: 0px 0px 25px 0px;
}

.section01__text {
    text-transform: lowercase;
    text-decoration: line-through;
}

.main__section02 {
    text-align: justify;
    padding: 10px;
}

.section02__title {
    text-transform: lowercase;
}

.section02__text {
    max-height: 70px;
    text-decoration: overline;
    text-transform: uppercase;
    overflow: hidden;
}

.main__section03 {
    text-align: center;
}

.section03__title {
    letter-spacing: 25px;
}

.section03__text {
    max-height: 60px;
    text-decoration: underline;
    padding: 30px;
    overflow: auto;
}

.main__section04 {
    text-transform: uppercase;
    white-space: nowrap;
}

.main__section05 {
    text-align: right;
    word-spacing: 5px;
    margin-bottom: 0;
}

.footer__list {
    text-align: right;
}

.footer__item {
    display: inline-block;
    margin: 40px 40px 0px 10px;
}

.footer__text {
    display: inline;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
}